.bottomMenu {
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(196, 196, 196);
  color: rgb(75, 75, 75);
  padding: 0.5rem 0;
  z-index: 100;

  a {
    text-align: center;
    font-size: 1.2rem;
  }

  .active {
    color: #c20c0c;
  }
}